<TARGET_ENV_ADDRESS>:<TARGET_ENV_PORT>:<TARGET_ENV_DATABASE>:<TARGET_ENV_SYS_USERNAME>:<TARGET_ENV_SYS_PASSWORD>
<TARGET_ENV_ADDRESS>:<TARGET_ENV_PORT>:<TARGET_ENV_DATABASE>:<TARGET_ENV_ADM_USERNAME>:<TARGET_ENV_ADM_PASSWORD>
