# Each line is a connection
PRIMARY_ADDRESS:PRIMARY_PORT:PRIMARY_DATABASE:PRIMARY_SYS_USERNAME:PRIMARY_SYS_PASSWORD
PRIMARY_ADDRESS:PRIMARY_PORT:PRIMARY_DATABASE:PRIMARY_ADM_USERNAME:PRIMARY_ADM_PASSWORD
FOREIGN_ADDRESS:FOREIGN_PORT:FOREIGN_DATABASE:FOREIGN_SYS_USERNAME:FOREIGN_SYS_PASSWORD
FOREIGN_ADDRESS:FOREIGN_PORT:FOREIGN_DATABASE:FOREIGN_ADM_USERNAME:FOREIGN_ADM_PASSWORD
