<TARGET_ENV_ADDRESS>:<TARGET_ENV_PORT>:<TARGET_ENV_DATABASE>:<TARGET_ENV_USERNAME>:<TARGET_ENV_PASSWORD>
<TARGET_ENV_ADDRES>:<TARGET_ENV_PORT>:<TARGET_ENV_DATABASE>:<TARGET_ENV_ADMIN_USERNAME>:<TARGET_ENV_ADMIN_PASSWORD>