TARGET_SERVER_ADDR=<TARGET_ENV_ADDRESS>
TARGET_SERVER_USER=<TARGET_ENV_USER>
TARGET_SERVER_PROXY_ADDR=<TARGET_ENV_PROXY_ADDRESS>
TARGET_SERVER_PROXY_USER=<TARGET_ENV_PROXY_USER>
TARGET_SERVER_DB_SYS_GRP=<DATABASE_SYS_GROUP>
TARGET_SERVER_DBAS=<COMMA_SEPARATED_TEXT>
# TODO rename it to use VOLUME prefix in vars bellow
VOLUME_username=<TARGET_ENV_FILE_USERNAME>
VOLUME_password=<TARGET_ENV_FILE_PASSWORD>
VOLUME_domain=<TARGET_ENV_FILE_DOMAIN>