# BEWARE TO NOT store this plain file into repository. Also, replace <THIS_SECRET_FILE>.target-env-example to <THIS_SECRET_FILE>.[local | dev | stage | prod] 
# DB
DB_ENGINE=postgresql
DB_SCHEMA=<DB_SCHEMA>
# The follow below is optional and used with precedence of .pgpass and the environment
DB_HOST=<DB_HOST_OPTIONAL>
DB_PORT=<DB_PORT_OPTIONAL>
DB_DATABASE=<DB_DATABASE_OPTIONAL>
DB_USER=<DB_USER_OPTIONAL>
DB_PASS=<DB_PASSWORD_OPTIONAL>

API_AUTHORIZATION_TOKEN=<API_TOKEN>
<SYSTEM>_API=<SYSTEM_API>

CUSTOM_BOT_PROPERTY=<CUSTOM_BOT_PROPERTY>
